/* 全体 */
h1 {
  font-family: "Hiragino Kaku Gothic Pro";
  font-weight: 700;
  line-height: 1.7;
  font-size: 24px;
}

h4 {
  font-weight: 300;
  font-size: 26px;
}

p {
  letter-spacing: 0.03em;
  text-align: left;
}
/* ヘッダー */
header {
  padding: 0px 20px;
  height: 580px;
}

video {
  display: none;
}

.black-box {
  display: none;
}

.logo {
  display: none;
}

.logo-btn {
  position: static;
}

.res-logo {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}

.podcast-btn {
  position: absolute;
  top:15px;
  right: 0px;
  border: 1px solid white;
}



header h1 {
  margin-top: 60px;
}

.header-p {
  text-align: left;
  margin-top: 20px;
}

.p-br::before {
  display: none;
}

header h4 {
  margin-top: 25px;
  font-size: 24px;
  text-align: left;
  line-height: 1.7;
}

.application-btn1 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* CSSで改行する方法↓ */
.h1-br::before {
  content: "\A";
  white-space: pre;
}

/* コース概要 */
.course {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}

.c-p1 {
  margin-top: 40px;
}

/* バンクーバーってどんな街？ */
.v-jumbotron {
  background-size: cover;
  max-width: 100%;
}
.vancouver-city {
  padding-top: 20px;
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.v-c-p1 {
  margin-top: 40px;
}

.v-c-p2 {
  margin-top: 20px;
}

/* カリキュラム */
.curriculum {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.curriculum h4 {
  margin-top: 30px;
}

.cu-p1 {
  margin-top: 30px;
}

.curriculum .table-borderless td {
  padding: 0px;
}

.step-right-td {
  position: relative;
  right: 0px;
}
.step-ex {
  margin-top: -10px;
  width: 220px;
}

/* 英会話講座 */
.col-md-9 {
  padding-left: 0px;
}
.e-c-p {
  padding: 0px;
  margin-top: 20px;
  padding-left: 0px;
}

/* 受講生の声 */
.voice {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.col-md-2 p {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.col-md-10 {
  left: 0px;
}

.col-md-10::before {
 display: none;
}

/* 講師紹介 */
.teacher {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.teacher h4 {
  margin-top: 30px;
  font-weight: 300;
}

.h4-br::before {
  display: none;
}

.teacher .col-md-4 {
  margin-top: 10px;
}

/* 受講までのステップ */
.attendance {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.attendance h1 {
  margin-bottom: 20px;
}
.circle-number {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #5fb3c1;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: white;
}

.attendance h4 {
  font-weight: 300;
  font-size: 24px;
}

.circle-number2 {
  position: relative;
  top: -100px;
}

.circle-number3{
  position: relative;
  top: -100px;
}

.circle-number6 {
  position: relative;
  top: -190px;
}

.a-right-list {
  width: 270px;
  position: relative;
  top: 5px;
}

/* 自信を持って帰国しよう。 */
.green-jumbotron2 {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  object-fit: cover;
}
.green-box2 {
  background-color: rgb(73, 166, 189);
  opacity: 0.8;
  height: 200px;
  position: absolute;
  top: 16760px;
  width: 100%;
}

.application-btn3 {
  width: 90%;
  margin-top: 20px;
}

/* これから必要とされるのは */
.global {
  padding: 0 20px;
  margin-top: 20px;
}

audio {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.global h1 {
  line-height: 1.5;
}

.global p {
  text-align: left;
}

.b-h1-br::before {
  content: "\A";
  white-space: pre;
}

/* 料金 */
.fee {
  margin-top: 50px;
  padding: 20px 20px;
}

.fee .col-md-4 {
  margin-top: 20px;
  width: 100%;
}

.fee .col-md-4 p {
  text-align: center;
}

.van-en,.van-web {
  margin-left: 0px;
}

.fee-danger {
  text-align: center;
}

/* よくある質問*/
.question {
  margin-top: 20px;
  padding: 0px 20px;
}

.question h1 {
  margin-bottom: 20px;
}

.question h4,.question p {
  text-align: left;
}

.question h4 {
  margin-top: 20px;
}

/* お申し込み */
.contact {
  margin-top: 20px;
  padding: 0px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8f7f1;
}

.contact h1 {
  margin-bottom: 20px;
}

/* フッター */
footer {
  padding: 20px;
  background-color: #2B3E42;
}

footer p {
  text-align: center;
}

footer .footer-p {
  display: block;
}

.footer-p {
  padding-left: 0px;
}

.footer-a {
  color: #5fb3c1;
  text-decoration: none;
  margin-left: 0px; 
}

.footer-p1 {
  position: relative;
  left: 0px;
}

.footer-p2 {
  margin-left: 0px;
}

.footer-p3 {
  position: relative;
  left: 0px;
}

.footer-logo {
  margin-top: 15px;
  font-size: 30px;
  margin-left: 30px;
 
}

.footer-logo1 {
  color: #6fc173;
  margin-right: 0px;
  padding-left: 20px;
  margin-left: 0px;
}

.footer-logo1 {
  color: #6fc173;
  margin-right: 0px;
}

.footer-logo2 {
  color: #6fc173;
  margin-right: 0px;
}

.footer-logo3 {
  color: white;
}

.copyright {
  margin-top: 20px;
  color: #8D9696;
  font-size: 13px;
}
